

P1GLSL/.vs/P1GLSL/v16/.suo

P1GLSL/.vs/P1GLSL/v16/Browse.VC.db

P1GLSL/.vs/P1GLSL/v16/Browse.VC.opendb

P1GLSL/.vs/*

P1GLSL/Debug/main.obj

P1GLSL/Debug/P1GLSL.exe

P1GLSL/Debug/P1GLSL.ilk

P1GLSL/Debug/P1GLSL.log

P1GLSL/Debug/P1GLSL.pdb

P1GLSL/Debug/P1GLSL.tlog/CL.command.1.tlog

P1GLSL/Debug/P1GLSL.tlog/CL.read.1.tlog

P1GLSL/Debug/P1GLSL.tlog/CL.write.1.tlog

P1GLSL/Debug/P1GLSL.tlog/link.command.1.tlog

P1GLSL/Debug/P1GLSL.tlog/link.read.1.tlog

P1GLSL/Debug/P1GLSL.tlog/link.write.1.tlog

P1GLSL/Debug/P1GLSL.tlog/P1GLSL.lastbuildstate

P1GLSL/Debug/vc142.idb

P1GLSL/Debug/vc142.pdb

P1GLSL/Debug/*

P1GLSL/Release/*
*.obj

P1GLSL/Release/
